body > .modal[role='dialog'][aria-labelledby][data-modal] {
  @include box-shadow(5px);
  background-color: $white;
  left: 10vw;
  padding: 1.5rem;
  position: fixed;
  top: 10vh;
  width: calc(100% - 20vw);
  z-index: 999;

  button.modal__close-btn[data-modal-close] {
    border-radius: 1rem;
    margin: 1rem 0;
  }

  button.modal__close-btn--top[data-modal-close]:nth-child(1) {
    background: transparent;
    border: 0;
    color: transparent;
    margin: .5em 1.5em;
    padding: 0 1.5em;
    position: absolute;
    right: 0;
    top: 0;
    transition: color .2s ease-in;

    &:hover,
    &:focus {
      color: $black;
    }

    &::after {
      background: $black;
      bottom: .5em;
      content: '';
      height: .1em;
      position: absolute;
      right: 0;
      transform: rotate(45deg);
      width: 1em;
    }

    &::before {
      background: $black;
      bottom: .5em;
      content: '';
      height: .1em;
      position: absolute;
      right: 0;
      transform: rotate(-45deg);
      width: 1em;
    }
  }
}

body > .modal-overlay[data-modal-overlay] {
  background-color: transparentize($black, .2);
  height: 100%;
  left: 0;
  min-height: 100vh;
  min-width: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 998;
}
