body > .modal[role='dialog'][aria-labelledby][data-modal] {
  @include box-shadow(5px);
  background-color: $white;
  left: 10vw;
  padding: 1.5rem;
  position: fixed;
  top: 10vh;
  width: calc(100% - 20vw);
  z-index: 999;

  .modal__close-btn[data-modal-close] {
    border-radius: 1rem;
    margin: 1rem 0;
  }
}

body > .modal-overlay[data-modal-overlay] {
  background-color: transparentize($black, .2);
  height: 100%;
  left: 0;
  min-height: 100vh;
  min-width: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 998;
}
