.navi-drawer {
  @include box-shadow(2px);
  background: $white;
  height: 100vh;
  left: auto;
  max-width: 340px;
  min-width: 240px;
  position: fixed;
  right: 100vw;
  top: 0;
  width: 80vw;

  .navi-drawer__links-list {
    margin: 1.5rem;
  }
}

.navi-drawer--visible {
  left: 0;
  right: auto;
  z-index: 999;
}

.navi-drawer-overlay {
  background-color: transparentize($black, .2);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 998;
}
