.navi-drawer {
  @include box-shadow(2px);
  background: $white;
  height: 100vh;
  left: auto;
  max-width: 340px;
  min-width: 240px;
  position: fixed;
  right: 100vw;
  top: 0;
  width: 80vw;

  .navi-drawer__links-list {
    margin: 1.5rem;
  }
}

.navi-drawer--visible {
  left: 0;
  right: auto;
  z-index: 999;
}

.navi-drawer-overlay {
  background-color: transparentize($black, .2);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 998;
}

input[type='button'][aria-expanded][data-navi-drawer-trigger],
button[aria-expanded][data-navi-drawer-trigger] {

  background-color: transparent;
  border: 1px solid $black;
  padding: .5rem 1rem;
  transition-duration: .2s;
  transition-property: fill, color, background-color;
  transition-timing-function: ease-in;

  &:focus,
  &:hover {
    @include box-shadow(3px);

    background-color: $black;
    color: $white;
  }
}
