.tabs {

  .tabpanel[role='tabpanel'] {

    padding: 1rem;

    &:target {
      display: block;
    }

    &[aria-hidden] {
      border: 1px solid $black;
      border-top: 0;

      &[aria-hidden='true'] {
        display: none;
      }

      &[aria-hidden='false'] {
        display: block;
      }
    }
  }

  ul[role='tablist'] {

    display: flex;

    > li[role='presentation'] {
      flex: 1 0 auto;

      a[role='tab'][aria-selected] {

        border: 1px solid $black;
        border-radius: .2rem .2rem 0 0;
        display: block;
        padding: .5rem 1rem;
      }

      a[role='tab'][aria-selected='true'] {

        border-bottom: 1px solid transparent;
      }

      a[role='tab'][aria-selected='false'] {

        background: transparentize($black, .8);
      }
    }
  }
}
