@mixin hover($color) {
  background-color: lighten($color, 50%);
  color: darken($color, 15%);
  text-decoration: none;
}

a[href]:not([href='']) {

  color: $a-color;

  &[aria-describedby='foreign'][href^='http'],
  &[aria-describedby='foreign'][target='_blanc'] {
    color: $a--foreign-color;

    &:hover,
    &:focus {
      @include hover($a--foreign-color);
    }
  }

  &[aria-describedby='same'][href^='#'] {
    border: 1px dotted $a-color;
    padding: .1rem .2rem;
  }

  &[aria-describedby^='current'][href^='#'],
  &[aria-describedby^='current'][href^='#'].current {
    @include hover($a-color);
  }

  &[href^='#'].a--skiplink {
    left: -100%;
    position: absolute;
    top: -100%;

    &:focus {
      left: 0;
      top: 0;
    }
  }

  &:focus,
  &:hover {
    @include hover($a-color);
  }
}
