@charset "UTF-8";

html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

[hidden]{
  display: none;
}



// general
@import "general/variables";
@import "general/mixins";
@import "general/typography";
@import "general/buttons";
@import "general/anchors";
@import "general/regions";

// components
@import "components/accordion";
@import "components/tabs";
@import "components/modal";
@import "components/navigation-drawer";
